# ---------------------------------------------------------------------------------------------------------
# base configuration
nameOverride: "mediocre-app-wp"
fullnameOverride: "mediocre-app-wp"
role: "application"

# ---------------------------------------------------------------------------------------------------------
# serviceaccount
ServiceAccount:
  name: ""
  create: true
  annotations: {}
  automount: true

# ---------------------------------------------------------------------------------------------------------
# role
Role:
  rules:
    - apiGroups: [""]
      resources: ["configmaps","secrets"]
      verbs: ["list","get"]

# ---------------------------------------------------------------------------------------------------------
# configmap
ConfigMap:
  data:
    WORDPRESS_DB_HOST: mediocre-db-statefulset-0.mediocre-db.platform.svc.cluster.local
    WORDPRESS_DB_USER: mediocre
    WORDPRESS_DB_PASSWORD: H3ll0Th3r3*_
    WORDPRESS_DB_NAME: mediocrewind

# ---------------------------------------------------------------------------------------------------------
# deployment
Deployment:
  spec:
    strategy:
      type: RollingUpdate
      rollingUpdate:
        maxSurge: 2
        maxUnavailable: 1
    template:
      spec:
        initContainers:
        containers:
          main:
            name: app-wordpress
            image: 487835535578.dkr.ecr.ap-southeast-1.amazonaws.com/mediocrewind-core-ecr-app-wordpress:latest
            resources:
              requests:
                memory: "500M"
                cpu: 0.5
              limits:
                memory: "1G"
                cpu: 1.8
            volumeMounts:
              - mountPath: /var/www/html
                name: wp-data
        volumes:
          - name: wp-data
            hostPath:
              path: /opt/kube/wordpress
              type: Directory
        securityContext:
          fsGroup: 1000
        imagePullSecrets:
          - name: mediocre-ecr-login
        tolerations:
          - key: "platform/role"
            operator: "Equal"
            value: "application"
            effect: "NoExecute"
    replicas: 1
    selector:
      matchLabels:
        platform/role: application

# ---------------------------------------------------------------------------------------------------------
# service
Service:
  spec:
    type: NodePort
    ports:
      - targetPort: 80
        port: 80
        nodePort: 30080
    selector:
      platform/role: application

